* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  background: linear-gradient(120deg, #84fab0, #8fd3f4);
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  background: #ffffffcc;
  padding: 30px;
  width: 380px;
  border-radius: 14px;
  text-align: center;
  box-shadow: 0 8px 20px rgba(0,0,0,0.15);
}

h1 {
  margin-bottom: 20px;
}

button {
  padding: 10px 20px;
  border: none;
  cursor: pointer;
  background: #0077ff;
  color: white;
  border-radius: 8px;
  font-size: 16px;
  transition: 0.3s;
}

button:hover {
  background: #005fcc;
}

.retry-btn {
  margin-top: 10px;
  background: red;
}

.message {
  margin-top: 15px;
  font-size: 17px;
  font-weight: 500;
}

.post-list {
  margin-top: 20px;
  list-style: none;
  text-align: left;
  padding: 0;
}

.post-list li {
  background: #ffffff;
  margin-bottom: 10px;
  padding: 12px;
  border-radius: 8px;
  box-shadow: 0 2px 6px rgba(0,0,0,0.1);
  font-size: 15px;
}
